Flask
Werkzeug
locust
waitress; platform_system=="Windows"
gunicorn; platform_system!="Windows"
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
gevent>=24.10.1 # not directly required, pinned by Snyk to avoid a vulnerability